body {
  background: linear-gradient(180deg, #0e1112 0%, #00090e 100%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.main {
  width: 100%;
}

.app-container {
  width: 996px;
  max-width: 90%;
  margin: 56px auto;
  height: 100vh;
  display: flex;
  gap: 28px;
}
